<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/styles/css/style.css" />
</head>
<body>
    <div class="alert--1">CLICK2BUY'S RESPONSE TO COVID19</div>
    <nav class="navigation">
        <input type="checkbox" id="check" class="bar">
        <label for="check" class="bar">
          <span class="bar-icon"></span>
        </label>
        <div class="nav-logo">
          <img src="/assets/images/logo.png" alt="CLICK2BUY">
        </div>
        <ul class="nav-items">
          <li class="nav-item home">
            <a href="/index.html" class="link nav-item--link arrow">Home</a>
            <ul class="nav-items--home">
              <li class="nav-item--home">
                <a href="#" class="link nav-item--link">About Us</a>
              </li>
              <li class="nav-item--home">
                <a href="/help-and-settings.html" class="link nav-item--link">How It Works</a>
              </li>
              <li class="nav-item--home">
                <a href="#" class="link nav-item--link">FAQs</a>
              </li>
            </ul>
        </li>
          <li class="nav-item">
            <a href="#" class="link nav-item--link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="../printer/index.html" class="link nav-item--link active">Eligible Printers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link nav-item--link">Exclusive Deals</a>
          </li>
          <li class="nav-item">
            <a href="../account/login.html" class="link nav-item--link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link nav-item--link bag-icon">Cart</a>
          </li>
        </ul>
        <div class="bag">
          <a href="#" class="bag-icon"></a>
        </div>
      </nav>
    <main class="main-content">
        <section class="container">
            <ul class="product-titles">
                <li class="product-title">
                    <a href="index.html" class="link product-title--link active">LASER TONERS</a>
                </li>
                <li class="product-title">
                    <a href="../printer/index.html" class="link product-title--link">| ELIGIBLE PRINTER</a>
                </li>
                <li class="product-title">
                    <a href="../ink/index.html" class="link product-title--link">| INK CARTRIDGES</a>
                </li>
            </ul>
            <div class="product-count">32 items found in laser toners</div>
            <ul class="product-pages text-right">
                <li class="product-page">
                    <a href="" class="link product-page--link active">1</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">2</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">3</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">4</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">5</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link active">></a>
                </li>
            </ul>
        </section>
        <section class="container">
            <ul class="product">
                
                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>

                <li class="product-item" itemscope itemtype="https://schema.org/Product">
                    <div class="product-image">
                        <a href="per-item.html" class="link">
                            <img src="/assets/images/cartridge.jpg" alt="Laser Toner" class="product-image--1" itemprop="image">
                          </a>
                    </div>
                    <div class="product-info">
                        <div class="product-info-name" itemprop="name">HP 680 Tri-color Original Ink Advantage Cartridge 
                            (<span itemscope="SKU">F6V26AA</span>)
                        </div>
                        <div class="product-info-price product-info-price--orange" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="priceCurrency" content="PHP">₱</span>
                            <span itemprop="price" content="515.00">515.00</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="product-pages text-center">
                <li class="product-page">
                    <a href="" class="link product-page--link active">1</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">2</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">3</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">4</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link">5</a>
                </li>
                <li class="product-page">
                    <a href="" class="link product-page--link active">></a>
                </li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-pic">
            <img src="/assets/images/footer.png" alt="Footer" class="footer-pic--1">
        </div>
        <div class="footer-info">
            <div class="footer-info--menu">
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">About click2buy Prime</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">Terms and Condition</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="/help-and-settings.html">Help & Settings</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">Delivery Schedule</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">Modes of Payment</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="link footer-menu-item--link" href="#">Contact Us</a>
                    </li>
                </ul>
                <p class="text-right">All Content Copyright 2020</p>
            </div>
            <hr class="line">
            <div class="footer-info--contact">
                <ul class="footer-contact">
                    <li class="footer-contact-item">MANILA (+632) 8689-5000</li>
                    <li class="footer-contact-item">CEBU (+6332) 260-2071</li>
                    <li class="footer-contact-item">Email: info@ics.com.ph</li>
                    <li class="footer-contact-item">Toll-Free No: 1-800-10-1427273</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>