<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../../assets/styles/css/style.css" />
  </head>
  <body>
    <div class="alert--1">CLICK2BUY'S RESPONSE TO COVID19</div>
    <nav class="navigation">
      <div class="nav-logo">
        <img src="../../../assets/images/logo.png" alt="CLICK2BUY">
      </div>
      <ul class="nav-items">
        <li class="nav-item home">
          <a href="../../../index.html" class="link nav-item--link">Home</a>
          <ul class="nav-items--home">
            <li class="nav-item nav-item--home">
                <a href="#" class="link nav-item--link">About Us</a>
            </li>
            <li class="nav-item nav-item--home">
                <a href="../../../help-and-settings.html" class="link nav-item--link">How It Works</a>
            </li>
            <li class="nav-item nav-item--home">
                <a href="#" class="link nav-item--link">FAQs</a>
            </li>
        </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="link nav-item--link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="../printer/index.html" class="nav-item--link">Eligible Printers</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link nav-item--link">Exclusive Deals</a>
        </li>
        <li class="nav-item">
          <a href="./login.html" class="link nav-item--link active">Login</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link nav-item--link cart-icon">Cart</a>
        </li>
      </ul>
    </nav>
    <div class="bg-circle">
      <div class="bg-circle bg-circle--7"></div>
      <div class="bg-circle bg-circle--8"></div>
      <div class="bg-circle bg-circle--9"></div>
      <div class="bg-circle bg-circle--10"></div>
      <div class="bg-circle bg-circle--11"></div>
    </div>
    <div class="login-content">
      <section class="login-container">
        <div class="login">
          <div class="login-card create-account">
            <div class="login-card--header text-center text-tertiary text-tertiary--white">CREATE ACCOUNT</div>
            <div class="login-card--info">
              <form action="#">
                    <input type="text" class="input input-field" placeholder="Full name" />
                    <input type="email" class="input input-field" placeholder="Email Address"/>
                    <input type="text" class="input input-field" placeholder="Mobile No." />
                    <button type="submit" class="text-center button button-register">Register</button>
                    <a href="./login.html" class="link">
                        <button type="button" class="text-center button button-login">
                        Have an account? Log in.
                        </button>
                    </a>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="footer-pic">
        <img src="../../../assets/images/footer.png" alt="Footer" class="footer-pic--1">
      </div>
      <div class="footer-info">
        <div class="footer-info--menu">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">About click2buy Prime</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">Terms and Condition</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="../../../help-and-settings.html">Help & Settings</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">Delivery Schedule</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">Modes of Payment</a>
          </li>
          <li class="footer-menu-item">
              <a class="link footer-menu-item--link" href="#">Contact Us</a>
          </li>
          </ul>
          <p class="text-right">All Content Copyright 2020</p>
        </div>
        <hr class="line">
        <div class="footer-info--contact">
          <ul class="footer-contact">
            <li class="footer-contact-item">MANILA (+632) 8689-5000</li>
            <li class="footer-contact-item">CEBU (+6332) 260-2071</li>
            <li class="footer-contact-item">Email: info@ics.com.ph</li>
            <li class="footer-contact-item">Toll-Free No: 1-800-10-1427273</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
