<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
  />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../../../assets/styles/css/style.css" />
</head>
<body>
  <div class="alert--1">CLICK2BUY'S RESPONSE TO COVID19</div>
  <nav class="navigation">
    <input type="checkbox" id="check" class="bar">
    <label for="check" class="bar">
      <span class="bar-icon"></span>
    </label>
    <div class="nav-logo">
      <img src="../../../assets/images/logo.png" alt="CLICK2BUY">
    </div>
    <ul class="nav-items">
      <li class="nav-item home">
        <a href="../../../index.html" class="link nav-item--link arrow">Home</a>
        <ul class="nav-items--home">
          <li class="nav-item--home">
            <a href="#" class="link nav-item--link">About Us</a>
          </li>
          <li class="nav-item--home">
            <a href="../../../help-and-settings.html" class="link nav-item--link">How It Works</a>
          </li>
          <li class="nav-item--home">
            <a href="#" class="link nav-item--link">FAQs</a>
          </li>
        </ul>
    </li>
      <li class="nav-item">
        <a href="#" class="link nav-item--link">Shop</a>
      </li>
      <li class="nav-item">
        <a href="../printer/index.html" class="link nav-item--link active">Eligible Printers</a>
      </li>
      <li class="nav-item">
        <a href="#" class="link nav-item--link">Exclusive Deals</a>
      </li>
      <li class="nav-item">
        <a href="../account/login.html" class="link nav-item--link">Login</a>
      </li>
      <li class="nav-item">
        <a href="#" class="link nav-item--link bag-icon">Cart</a>
      </li>
    </ul>
    <div class="bag">
      <a href="#" class="bag-icon"></a>
    </div>
  </nav>
  <main class="main-content">
    <section class="container">
      <ul class="product-titles">
        <li class="product-title">
          <a href="index.html" class="link product-title--link active">INK CARTRIDGES</a>
        </li>
        <li class="product-title">
          <a href="../toner/index.html" class="link product-title--link">| LASER TONERS</a>
        </li>
        <li class="product-title">
          <a href="../printer/index.html" class="link product-title--link">| ELIGIBLE PRINTER</a>
        </li>
      </ul>
    </section>
    <section class="container">
      <div class="item">
        <div class="item__thumbnail">
          <img class="item__thumbnail-image selected" src="../../../assets/images/inkcartridges.jpg"/>
          <img class="item__thumbnail-image" src="../../../assets/images/printers.jpg"/>
          <img class="item__thumbnail-image" src="../../../assets/images/lastertoner.jpg"/>
        </div>
        <div class="item__image">
          <img class="opaque" src="../../../assets/images/inkcartridges.jpg"/>
          <img src="../../../assets/images/printers.jpg"/>
          <img src="../../../assets/images/lastertoner.jpg"/>
        </div>
        <div class="item__information">
          <div class="item__information-name">HP 680 Tri-colo Original Ink</div>
          <div class="item__information-description">Advantage Cartridge (F6V26AA)</div>
          <div class="item__information-price">&#8369; 6,990</div>
          <div class="item__information-action">
            <a class="item__information-action-link item__information-action--1" href="#">Buy Now</a>
            <a class="item__information-action-link item__information-action--2" href="#">Add to cart</a>
          </div>
          <div class="item__information-promotion">
            <div class="item__information-promotion-1">
              <img class="item__information-promotion--image" src="../../../assets/images/delivery.png" />
              <span class="item__information-promotion--title">Free Delivery</span>
            </div>
            <div class="item__information-promotion-2">
              <img class="item__information-promotion--image" src="../../../assets/images/delivery.png" />
              <span class="item__information-promotion--title">Sample Promotion</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item-detail w-85">
        <div class="text text-tertiary text-center pt-4">
          Product details of HP 680 Tri-color Original Ink
        </div>
        <hr class="bg-grey">
        <div class="item-description text pt-2">
          Get original HP inks from ICS, an authorized reseller of authentic HP supplies. Crisp, high-quality prints you can count on.
        </div>
        <div class="item-photo pt-2">
          <img src="../../../assets/images/cartridge.jpg" alt="Cartridge">
        </div>
        <div class="item-data">
          <p class="text">Original HP cartridges that fit how you live, work, and print. Count on consistent, top-quality results</p>
          <p class="text pt-1">
            <span class="text-500">Cartridge Colors:</span>Tri-color
          </p>
          <p class="text">
            <span class="text-500">Print Technology:</span>Ink
          </p>
          <p class="text">
            <span class="text-500">Page Yield Colour:</span>~150 pages
          </p>
          <p class="text mb-1">
            <span class="text-500">Product Type:</span>Standard Capacity Ink Cartridges
          </p>
        </div>
        <hr class="bg-grey">
        <div class="item-specification pt-1 mb-1">
          <p class="text ">Product Specification for HP 680 Tri-color Original Ink</p>
          <div class="specs">
            <div class="item-brand">
              <span class="text text-500">Brand</span>
              <span class="text">HP</span>
            </div>
            <div class="item-sku">
              <span class="text text-500">SKU</span>
              <span class="text">123456121341</span>
            </div>
            <div class="item-model">
              <span class="text text-500">Model</span>
              <span class="text">3YM78AA</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-pic">
      <img src="../../../assets/images/footer.png" alt="Footer" class="footer-pic--1">
    </div>
    <div class="footer-info">
      <div class="footer-info--menu">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">About click2buy Prime</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">Terms and Condition</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="../../../help-and-settings.html">Help & Settings</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">Delivery Schedule</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">Modes of Payment</a>
          </li>
          <li class="footer-menu-item">
            <a class="link footer-menu-item--link" href="#">Contact Us</a>
          </li>
        </ul>
        <p class="text-right">All Content Copyright 2020</p>
      </div>
      <hr class="line">
      <div class="footer-info--contact">
        <ul class="footer-contact">
          <li class="footer-contact-item">MANILA (+632) 8689-5000</li>
          <li class="footer-contact-item">CEBU (+6332) 260-2071</li>
          <li class="footer-contact-item">Email: info@ics.com.ph</li>
          <li class="footer-contact-item">Toll-Free No: 1-800-10-1427273</li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function() {
      $(".item__thumbnail").on('hover','img', function() {
        $(".item__image img").removeClass("opaque");
        
        var newImage = $(this).index();
        
        $(".item__image img").eq(newImage).addClass("opaque");
        
        $(".item__thumbnail img").removeClass("selected");
        $(this).addClass("selected");
      });
    });
  </script>
</body>
</html>
